
/* This is a comment in CSS */

body {
    background-color: #ffece1;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
  }
  
  h1 {
    color: #c960fa;
    font-size: 2em;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.6;
  }
  